// Directory where nextflow saves all files
workDir = "/data/nf"

// The profile to use for S3 upload 
params.awsProfile = "embassy"

// The S3 bucket to upload to
params.bucket = "idr/zarr/v0.4/idr0157"

// Maximum conversion jobs which can run at the same time
params.maxConvJobs = 5



// Don't change anything from here!
conda.enabled = true
