conda.enabled = true
workDir = "/data/dlindner/nextflow/work"

// directory to temporarily store the zarrs
params.zarrsDir = '/data/dlindner/nextflow/zarrs_tmp'

// delete the generated zarrs after upload
params.removeZarrs = true

// maximum conversion jobs which can run at the same time
params.maxConvJobs = 2

// maximum disk space a conversion job can use
params.maxConvJobDisk = '1500 GB'
