// Directory where nextflow saves all files
workDir = "/data/will/nextflow"

// The directory into which the local zarrs will be linked
params.pubDir = "/tmp/zarrs"

// The profile to use for S3 upload 
params.awsProfile = "embassy"

// The S3 bucket to upload to
params.bucket = "idr/share/ome2024-ngff-challenge"

// Flag to delete the local zarrs after upload
params.removeZarrs = true

/* Adjust below to match your available disk space and expected image sizes */

// Maximum conversion jobs which can run at the same time
params.maxConvJobs = 8

// Maximum disk space a conversion job can use
params.maxConvJobDisk = "2 TB"


// Don't change anything from here!

conda.enabled = true
